{{!--

If the user is NOT logged in, and 'GET /register' endpoint is called, you will render this sign-up form view that displays two input (one for the username and one for password):
-The form will be used to submit the POST request to the '/register' route on the server and must have an 'id' of 'registration-form'
-The input for the username must have a 'name' and 'id' of 'usernameInput'
-The input for the password must have a 'name' and 'id' of 'passwordInput' and should be an input type of password.

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute. 
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label

You will also have a link on this page that links to '/' and has the text "Already have an account? Click here to log-in"

--}}

<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <br>
            <form id="registration-form" method="post" action="/register">
                <div class="form-group">
                    <p class="label" for="usernameInput">Make a username here:</p>
                    <input type="email" class="form-control" id="usernameInput" name="usernameInput" placeholder="username@xxx.com">
                    <br>
                    <p>Your password should have atleast 1 Uppercase, 1 lowercase, 1 number and 1 special character, Password should have a length between 6 and 24 characters.</p>
                    <p class="label" for="passwordInput">Enter your Password:</p>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Password">
                    <br>
                
                    <div class="form-group">
                        <button type="submit" class="btn AllButton">Log In</button>
                        
                    </div>
                    {{#unless status}}
                        <p class="wrongMsg">{{message}}</p>
                    {{/unless}}
                </div>
            </form>
        </div>
    </div>
</div>
    
    <br/>
    <br/>
</body>

