{{!--

-If the user is not authenticaed and hits the endpoint 'GET /', you will render this view with a login form.
-The form will contain two inputs, one for username and one for password.
-The form will be used to submit a POST request to the '/login' route on the server and must have an 'id' of 'login-form'.
-The input for the username must have a 'name' and 'id' of 'usernameInput'.
-The input for the password must have 'name' and 'id' of 'passwordInput' and should be an input 'type' of 'password'.
-You will also have a link on this page that links to '/register' and has the text "Click here to register!"

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute.
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label.

--}}

<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <br>
            <form id="Login-form" method="post" action="/login">
                <div class="form-group">
                    <p class="label" for="usernameInput">Your Username:</p>
                    <input type="email" class="form-control" id="usernameInput" name="usernameInput" placeholder="username@xxx.com">
                    <br>
                    <p class="label" for="passwordInpu">Your Password:</p>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Password">
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn AllButton">Log In</button>
                        <a href="./register">Click here to register!</a>
                    </div>

                    {{#unless status}}
                        <p class="wrongMsg">{{message}}</p>
                    {{/unless}}
                </div>
            </form>
        </div>
    </div>
</div>
    
    <br/>
    <br/>
</body>

